:root {
  --color-primary:  #378ADD;
  --color-income:   #1D9E75;
  --color-expense:  #E24B4A;
  --color-neutral:  #888780;
  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.App {
  text-align: center;
  background-color: #e6f3ff;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
